@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1: #0F172A;
    --cor2: #2563EB;
    --cor3: #F97316;
    --cor4: #F8FAFC;
    --cor5: #E2E8F0;
    --cor6: #1E293B;

    --fonte1: "Inter", sans-serif; /*Para menus e tals*/
    --fonte2: "Roboto", sans-serif; /*para paragrafos no geral*/
    --fonte3: "Montserrat", sans-serif; /*Para titulos e tals*/
}

@media screen and (max-width: 720px) {
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    body{
        width: 100vw;
        height: 100vh;
        background-color: var(--cor5);
    }

    header{
        min-height: 200px;
        background-color: var(--cor1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    menu{
        display: none;
    }

    button{
        padding: 20px;
        border-radius: 20px;
        border: none;
        background-color: var(--cor3);
        color: white;
        font-family: var(--fonte1);
        font-weight: bold;
        cursor: pointer;
        margin-right: 20px;

        transition: background-color .3s ease;
    }

    button:hover{
        background-color: #f974169c;
    }
}