@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
}

section#telefone{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 504px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

iframe#tela{
    position: absolute;

    top: 50px;
    left: 18px;

    width: 215px;
    height: 393px;
}

section#redes{
    text-align: right;
}

section#redes > a > img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

section#redes img:hover{
    border: 2px solid white;
    transition: .3s border .1s;
}