@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600&family=Poppins:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --cor-fundo: #0B1120;
    --cor-secundaria: #111827;

    --cor-texto: #F8FAFC;
    --cor-texto-secundario: #94A3B8;

    --cor-principal: #2563EB;
    --cor-destaque: #06B6D4;

    --cor-sucesso: #22C55E;
    --cor-erro: #EF4444;

    --cor-borda: #1E293B;

    --fonte-titulo: 'Poppins', sans-serif;
    --fonte-texto: 'Inter', sans-serif;
    --fonte-tecnica: 'JetBrains Mono', monospace;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--cor-fundo);
    min-height: 80px;
}

header h1{
    color: white;
    font-family: var(--fonte-titulo);
}

header a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: var(--fonte-texto);

    transition: background-color .3s ease;
}

header a:hover{
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 10px;
}

header button{
    padding: 20px;
    background-color: var(--cor-erro);
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-family: var(--fonte-texto);
    cursor: pointer;
    transition: background-color .3s ease;
}

header button:hover{
    background-color: #ef4444a6;
}

section#abertura{
    background-image: url(../img/techfix_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 526px;
}

#abertura h1{
    color: var(--cor-texto-secundario);
    font-family: var(--fonte-titulo);
    padding: 20px;
}

#abertura h2{
    color: white;
    font-family: var(--fonte-titulo);
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}

#abertura p{
    color: white;
    font-family: var(--fonte-texto);
    line-height: 1.5em;
    padding: 20px;
    padding-top: 10px;
    text-align: justify;
}

#abertura button{
    padding: 20px;
    background-color: #EF4444;
    color: white;
    border-radius: 20px;
    border: none;
    font-family: var(--fonte-texto);
    font-weight: bold;
    cursor: pointer;
    margin-left: 50px;
}